/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap');

/* common structure and utilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
    margin: 0;
}
/* header style */
.navbar {
    background-color:#562EFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-title {
    display: flex;
    align-items: center;
    color: white;
    margin-left: 90px;
}
.header-title img {
    width: 40.42px;
    height: 51px;
}
ul li {
    list-style: none;
    display: inline;
    margin-right: 90px;
}
li a {
    text-decoration: none;
    color: white;
}
/* main start */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    width: 870px;
    background-color: white;
    padding: 30px 30px 0px 30px;
    margin-top: 24px;
    margin-bottom: 10px;
    border-radius: 15px;
}
hr {
    border: 1px solid #D1D1D1;
}
/* top player section */
.player-title{
    color: #562EFF;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.player {
    display: flex;
    align-items: center;
}
.player-name{
    font-size: 15px;
    margin-left: 16px;
}
.player img{
    width: 56px;
    height: 56px;
}
/* top blog section */
.blog-title {
    color: #562EFF;
    padding-top: 10px;
}
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    padding-bottom: 30px;
}
.blog {
    display: flex;
}
.blog img{
    width: 177px;
    height: 117px;
}
.blog-detail {
    padding: 0px 16px;
}
.blog p {
    font-weight: bold;
}
.blog strong {
    color: #562EFF;
}
/* latest courses section */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 20px;
}
.course img {
    width: 224px;
    height: 104px;
}
.course h4{
    margin: 10px 80px 0px 0px;
}
.course p {
    margin-top: 5px;
    color: #ED6B4F;
}
.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 60px;
    font-size: 14px;
}
.course-info .filled {
    color: #FFC014;
}
.course-info .empty {
    color: #AEAEAE;
}
.course-info .duration {
    background-color: #FFE4E8;
    color: #FF4A60;
    padding: 5px 8px;
    border-radius: 10px;
}