/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap');

/* common structure and utilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main {
    display: flex;
    justify-content: center;
}
.container {
    width: 870px;
    background-color: white;
    padding: 30px;
}
/* top player section */
.player-title{
    color: #562EFF;
}
.players{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.player {
    display: flex;
    align-items: center;
}
.player-name{
    font-size: 15px;
    margin-left: 16px;
}
.player img{
    width: 56px;
    height: 56px;
}